.container-two {
    background-color: #09090A;
    width: 100%;
    padding-top: 6.5vh;
    padding-bottom: 6.5vh;
     
}

.wrapper {
    display: flex;
    max-width:75%; /*75%*/

    margin:  auto;
   
   
   
}

.about-line1{
    background-color: white;
    height: 0.1px;
    width: 100vw;
    opacity: 0.2;
    transform: rotate(10deg);
    position:relative;
    top: -50%;
    
}


.about-line2{
    background-color: white;
    height: 0.1px;
    width: 100vw;
    opacity: 0.2;
    transform: rotate(100deg);
    position:relative;
    top: 10%;
}


.heading {
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 9vw;
    writing-mode: vertical-rl;
    
}









.about-text{
    width: 100%;
    padding: 20px;
    z-index: 2;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.6vw;
    text-align: left;
    
 
    
}









@media screen and (max-width: 500px) {
    
    
    .about-text {
        width: 90%;
        font-size: 2.4vh; 
    } 
    
    .wrapper {
    max-width:95%;

}
    
    .heading {
        font-size: 12vw;

    }   
    
}


















    



