.container-four {
    background-color: white;
    width: 100%;
    position: relative;
    padding-top: 6.5vh;
    padding-bottom: 6.5vh;
    
}



.contact-text {
    width: 75%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.5vw;
    position: relative;
    margin: 0 auto;
    padding-top: 40px;
    display: block;
    
 
}

.form-container {
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    position: relative;
    
   
}




#name, #email, textarea {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    width: 75%;
    margin: 10px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: black;
   
   
}



#name::placeholder, #email::placeholder, textarea::placeholder{
    color: black;
    font-weight: 100;
}


#message {
    height: 80px;
    resize: none;
}



.formbtn {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-align: center;
    padding: 10px 50px;
    font-size: 1.5vw;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    border: none;
    
  
    
}


.formbtn:hover {
    background-color: orange;
}





.bold {
    font-weight: 400; 
    font-size: 2.3vw;
    
}



.contact-line1 {
    background-color: orange;
    height: 0.1px;
    width: 50%;
    transform: rotate(-80deg);
    position:relative;
    top: -50%;
    
}







@media screen and (max-width: 500px) {
    
   
  
    
    .contact-text {
       
        font-size: 2.4vh;
        padding-top:20px;
        margin: 0 auto;
        
       
    }
    .bold {
        font-size: 3vh; 
    }
    
    
    .formbtn {
        font-size: 2.4vh;
       
    }
    
    #name, #email, textarea {
        font-size: 2.4vh;
        
    }

    
    
    
    

    
}
