.container-three {
    
    width: 100%;
    background-color: #353839; 
    position: relative;
    padding-top: 6.5vh;;
    padding-bottom: 6.5vh;;
   
}






.box-cont {
    display: inline-block; 
    position: relative;
    height: 300px; 
    width: 97%;
    margin-bottom: 3px;
}





.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    transition: transform .2s;
}


.overlay:hover, .icons8-lock:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.icons8-lock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    transition: transform .2s;
    

}












